<!DOCTYPE html>
<html>
<head>
    <title>Python Flask Mask Detector</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="static/style.css">


</head>
<body>
<div class="content1-context">
<h1>AWS Deep Learning Hackathon</h1>

<br><p><b>This python flask app has been trained on a deep learning model to use computer vision to detect whether a person is wearing a noise make or not. This app was built with the python web framework flask and serves templates using jinja 2<br/><br/>To begin, click the bottom below </b></p>
<br>
<form action="/UploadImage" method="post">
<input type="submit"  name="Manually Upload Image" value="Click Here To Get Started" class="btn-serv" />
</form>
</div>
<br/>
<div class="python_libraries-used">
            <h3 class="libraries-heading">Python Libraries Used</h3>
            <div class="skills">
              <div class="libraries">tensorflow</div>
              <div class="libraries">Flask</div>
              <div class="libraries">opencv_python</div>
              <div class="libraries">matplotlib</div>
              <div class="libraries">pandas</div>
              <div class="libraries">scikit_learn</div>
              <div class="libraries">secrets</div>
              <div class="libraries">gunicorn</div>
              <div class="libraries">Jinja2</div>
              <div class="libraries">itsdangerous</div>
              <div class="libraries">MarkupSafe</div>
              <div class="libraries">Werkzeug</div>
              <div class="libraries">numpy</div>
              <div class="libraries">tqdm</div>
            </div>
 </div>
 </div>
 
<br/>
 <div class="python_libraries-used">
<h2>Contact Me</h2>
<br/>
</div>
<div class="contact-me">
	 <div class="skills">
              <div class="libraries">Email: Rogerkorantenng@gmail.com</div>
              <div class="libraries">Phone: +233 54 773 8808</div>
              <div class="libraries">LinkedIn: Roger Obeng Koranteng</div>
              <div class="libraries">Website: rogerkoranteng.ml</div>
      </div>


</div>


<section class="python_lib" id="contact">
                <br/><h2 class="section-title">Drop me a line</h2>

                <div class="about__content-title">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="libraries">
                        <input type="mail" placeholder="Email" class="libraries">
                        <textarea name="" id="" cols="0" rows="10" class="libraries"></textarea>
                        <input type="button" value="Send" class="libraries">
                    </form>
                </div>
            </section>
 
 
 
 
 </div>

</body>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<footer 
	<div class="copyright pull-right">
          <b>Copyright 2022 All Rights Reserved Roger Koranteng<span></span> 
        </div>
       </div>
</footer>

